/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/vendor/
/.clj-kondo/.cache
/.lsp/
/.cpcache/
.idea/
*.iml
.nrepl-history
.nrepl-port
/dev-resources/test-data/
.vscode/
/.clj-kondo/
/.github/
/.history/
/home/
DS_Store
