<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <!-- <pattern>%date{HH:mm:ss.SSS} %-5level %logger [%thread]%n%msg%n</pattern> -->
      <pattern>%msg%n</pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE" />
  </root>

  <!-- <logger name="mirthsync" level="INFO"> -->
  <!--   <appender-ref ref="CONSOLE" /> -->
  <!-- </logger> -->

  <!-- <!-\- repl or shell config -\-> -->
  <!-- <logger name="user" level="INFO"> -->
  <!--   <appender-ref ref="CONSOLE" /> -->
  <!-- </logger> -->
  <!-- <logger name="dev" level="INFO"> -->
  <!--   <appender-ref ref="CONSOLE" /> -->
  <!-- </logger> -->
  
  <!-- Make java.util.logging more efficient at disabled levels.
       See http://logback.qos.ch/manual/configuration.html#LevelChangePropagator -->
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>
</configuration>
