name: Clojure CI
on:
  push:
    branches: [ master, troubleshoot-github-actions ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-20.04

    strategy:
      matrix:
        java: [ '8', '11' ]

    steps:
    - uses: actions/checkout@v2

    # - name: Cache downloaded Mirth servers
    #   uses: actions/cache@v2.0.0
    #   with:
    #     path: |
    #       vendor/mirths/mirthconnect-3.8.0.b2464-unix.tar.gz
    #       vendor/mirths/mirthconnect-3.9.0.b2526-unix.tar.gz
    #     key: ${{ runner.os }}-mirthconnect-3.8.0.b2464-unix.tar.gz-mirthconnect-3.9.0.b2526-unix.tar.gz

    # - name: Cache local Maven repository
    #   uses: actions/cache@v2
    #   with:
    #     path: ~/.m2/repository
    #     key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
    #     restore-keys: |
    #       ${{ runner.os }}-maven-

    - name: Setup java
      uses: actions/setup-java@v2
      with:
        distribution: 'adopt-hotspot'
        java-version: ${{ matrix.java }}

    - name: Install clojure tools
      uses: DeLaGuardo/setup-clojure@3.4
      with:
        # Install just one or all simultaneously
        cli: 1.10.3.822 # Clojure CLI based on tools.deps
        lein: 2.9.6     # or use 'latest' to always provision latest version of leiningen
        boot: 2.8.3     # or use 'latest' to always provision latest version of boot

    - name: Start clean
      run: lein clean

    - name: Install dependencies
      run: lein deps

    - name: Run tests
      run: lein test
